body {
  background: #f7f7f7;
  font-family: verdana;
  max-width: 900px;
  margin: auto;
}

.photo {
  border: 1px solid #505050;
  border-radius: 75px;
  height: 150px;
  width: 150px;
}

#title,
.subtitle,
.post_title {
  color: #505050;
}

#title {
  font-size: 40px;
  text-transform: uppercase;
}

a {
  text-decoration: line-through;
  color: #505050;
}

.post_title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

.post {
  background: #fff;
  padding: 15px;
  border: 3px solid #505050;
  margin: 10px;
  border-radius: 5px;
}

.post_content {
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
  text-align: justify;
}

.post_image {
  margin-bottom: 15px;
  width: 100%;
}

.contacts-list {
  list-style-type: none;
  padding-left: 15px;
  
}

.contacts-list li a {
color: #0000ff;
text-decoration: none;
}